.publications-main-heading-container {
  position: relative;
  background-image: url("../../asserts/graph2.jpg");
  background-size: cover;
  background-position: center;
  height: var(--header-bg-height);
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publications-list {
  margin: 20px 20px;
  list-style-type: none;
  padding: 0;
}

.publication-item p {
  margin: 0;
  color: var(--font-color);
  font-size: 1rem;
  line-height: 1.5;
}

.publication-divider {
  border: none;
  height: 1px;
  background-color: var(--divider-color, #ccc);
  margin: 20px 0;
}

@media (max-width: 768px) {
  .publications-heading {
    font-size: 2rem;
  }

  .publication-item p {
    font-size: 0.9rem;
  }
}
