*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.main-content{
  padding: 0 20px;
}

:root {
  --first-color: hsl(28, 88%, 62%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 6%);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --header-height: 3.5rem;
  --header-margin: 0 1rem;
}